<h1>Help</h1>
<p>
  To get help on Ruby on Rails Tutorial on
  <a href="http://railstutorial.org/help">help page of Rails Tutorial</a>.
  To get help on Sample Application, see 
  <a href="http://railstutorial.org/book">the book of Rails Tutorial</a>.
</p>